nav {
  display: flex;
  justify-content: space-between;
  /* background: #4facfe; */
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: #fff;
  padding: 10px 20px;
  align-items: center;
}

a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}